* {
    margin: 0;
    padding: 0
}

html, body {
    height: 100%
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.section {
    width: 100%;
    height: 100%;
}

/*.section1{background-color: black;}*/
/*.section2{background-color: red;}*/
/*.section3{background-color: blue;}*/
/*.section4{background-color: green;}*/

.section1 {
    text-align: center;
    background-color: #57D2F7;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section1 div {
    margin-top: -150px;
}

#s1-title {
    font-size: 84px;
}

#s1-name {
    margin-top: 100px;
    font-size: 48px;
}

.section2 {
    background-color: #79B841;
}