* {
    margin: 0;
    padding: 0
}

html, body {
    height: 100%
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section {
    width: 100%;
    height: 100%;
}

/*.section1{background-color: black;}*/
/*.section2{background-color: red;}*/
/*.section3{background-color: blue;}*/
/*.section4{background-color: green;}*/

.section1 {
    text-align: center;
}